/* 
main
*/


main {
    padding: 3rem;
    position: relative;
    max-width: 700px;
    min-height: 100%;
    height: fit-content;
    margin: auto;
    transition: 0.5s;
}

.accent-color {
    background-color: var(--accent-color);
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-title {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--background3-color);
    position: relative;
    height: 4rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#required {
    color: #f00;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: min(1rem, 2vmin);
}

/* 
Question
*/
.question {
    margin-top: 1rem;
    background-color: var(--background3-color);
    border-radius: 5px;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    grid-auto-columns: 1fr;
    gap: 1rem 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "question_title required"
        "question_area question_area";
}

.required {
    grid-area: required;
    color: #f00;
}

.question_title {
    grid-area: question_title;
    font-size: 1rem;
}

.question_area {
    grid-area: question_area;
}

/* 
Survey inputs
*/

/* One-line */
.line input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #888;
    padding: 0.25rem 0;
    transition: 0.25s;
    border-radius: 0;
    width: 100%;
}

.line input:active,
.line input:focus {
    border-bottom: 2px solid var(--accent-color);
}

/* Text */
.text textarea {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #888;
    padding: 0.25rem 0;
    transition: 0.125s;
    border-radius: 0;
    width: 100%;
    resize: vertical;
    min-height: 2rem;
}

.text textarea:active,
.text textarea:focus {
    border-bottom: 2px solid var(--accent-color);
}

/* Dropdown */
.dropdown select {
    padding: 0.25rem;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 0.25rem;
}

/* Date */
.date input {
    padding: 0.25rem;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 0.25rem;
}

/* Time */
.time input {
    padding: 0.25rem;
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 0.25rem;
}

/* Sliders */
.slider input {
    width: calc(100% - 0.25rem);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    background: #3071A9;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    border: 5px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}

/* File */
.file label {
    display: block;
}

.file input {
    display: block;
}

/* Rating */
.rating .question_area {
    margin: auto;
}

.rating .question_rating {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 3rem;
}

.rating .question_rating .fa-star {
    cursor: pointer;
}

.rating .question_rating .fas {
    color: #ffc400;
}

/* Submit button */
#submit {
    margin-top: 1rem;
    background-color: var(--background3-color);
    border-radius: 0.5rem;
    padding: 0.25rem;
    display: grid;
    height: 4rem;
    width: 50%;
    transform: translateX(100%);
    transition: 0.5s;
}

#submit button {
    transition: 0.5s;
    border-radius: 0.25rem;
    border: 2px solid var(--accent-color);
    cursor: pointer;
    font-size: 1.25rem;
}

#submit button:hover {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/* Small screen */
@media screen and (max-width: 500px) {
    main {
        padding: 1rem;
    }

    .rating .question_rating {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: 10vmin;
    }

    #submit {
        width: 100%;
        transform: translateX(0);
    }
}